
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: url("../IMG/background.svg") no-repeat;
  color: #fff;
  font-family: var(--font-primary);

  .header{
    margin-bottom: 45px;
    
    h1 {
      text-align: center;
      font-size: var( --text-1-size);
      line-height: var(--text-1-line);
      letter-spacing: var(--text-1-spacing);
    }

    span {
      text-align: center;
      font-size: var( --text-4-size);
      line-height: var(--text-4-line);
      letter-spacing: var(--text-4-spacing);
    }
  }

  .form-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}