
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../IMG/background.svg") no-repeat;
  color: #fff;
  font-family: var(--font-primary);

  .header{
    h1 {
      
    }
  }

  .form-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}