.input-field {
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    font-size: var(--text-preset-5);
  }

  input {
    width: 460px;
    height: 54px;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--neutral-500);
  }

}