@import "./mixins.scss";

.ticket-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../IMG/background.svg") no-repeat;
  background-size: cover;

  .ticket-header {
    color: #fff;
    h1{
      text-align: center;
      font-size: var( --text-1-size);
      line-height: var(--text-1-line);
      letter-spacing: var(--text-1-spacing);
    }
  }
}